@import url("hero.css");
@import url("gallery.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 75em;
  margin-inline: auto;
  padding-inline: 1.5em;
}

.btn-primary {
  display: inline-block;
  padding: 0.9em 1.75em;
  background: #4f46e5;
  color: white;
  border-radius: 1em;
  text-decoration: none;
  font-weight: 500;
}
